<!DOCTYPE html>
<html>
    <head>
        <title>Student Startup Center</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tomorrow:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        <div id="main">
            <div id="main-top">
                <img id="logo" src="logo.png">
            </div>
            <div id="main-bottom">
                <div id="main-bottom-left">
                    
                    <h2>Hours</h2>
                    <div class="alignCol">
                        <div class="align">
                            <p>Mon</p>
                            <p>Tues-Thurs</p>
                            <p>Fri</p>
                        </div>
                        <div class="align">
                            <p>1pm - 7pm</p>
                            <p>12pm - 7pm</p>
                            <p>12pm - 5pm</p>
                        </div>
                    </div>

                </div>
                <div id="main-bottom-right">
                    <h2>Events</h2>
                    <p>Join our newsletter for more information.</p>
                    <img id="newsletter" src="newsletter.png">
                </div>
            </div>
        </div>
        <div id="footer" class="open">
            Open, come on in!
        </div>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>