<!DOCTYPE html>
<html>
    <head>
        <title>Student Startup Center</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tomorrow:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css?type=<%= Math.floor(Math.random() * 10000) %>" type="text/css">
    </head>
    <body>
        <div id="main">
            <div id="main-top">
                <img id="logo" src="logo.png">
            </div>
            <div id="main-bottom">
                <div id="main-bottom-left">
                    
                    <h2>Hours</h2>
                    <div class="alignCol">
                        <p>Closed for summer! Get startin' up! ☺️</p>
                    </div>

                </div>
                <div id="main-bottom-right">
                    <h2>Events</h2>
                    <div id="calEmbed" class="ae-emd-cal-events" data-calendar="dO584619" data-lbl-upcoming="Upcoming events" data-lbl-subscribe="Subscribe" data-no-events="No events found.." data-lbl-readmore="Read more" data-lbl-in="In" data-lbl-days="days" data-lbl-day="day" data-lbl-hours="hours" data-lbl-hour="hour" data-lbl-minutes="minutes" data-lbl-minute="minute" data-lbl-seconds="seconds" data-lbl-second="second" data-lbl-live="LIVE" data-include-atc="false" data-include-stc="false" data-include-moupcpicker="false" data-include-location="false" data-include-timezone="false" data-include-organizer="false" data-include-countdown="false" data-include-description="false" data-include-timezone-select="false" data-default-view="upcoming" data-stayonpage="true" data-datetime-format="1" data-datetime-language="en_US" data-events-max="20" data-description-length="full" ></div><script type="text/javascript" src="https://cdn.addevent.com/libs/cal/js/cal.events.embed.t4.init.js"></script>
                </div>
            </div>
        </div>
        <div id="footer" class="open">
            Open, come on in!
        </div>
        <script type="text/javascript" src="script.js?type=<%= Math.floor(Math.random() * 10000) %>"></script>
    </body>
</html>